In [28]:
import urllib2
import re
import pandas as pd
import csv

## Selection des zip codes de San Francisco

In [29]:
zipcodes=(94102, 94103, 94104, 94105, 94107, 94108, 94109, 94110, 94111, 94112, 94114, 94115, 94116, 94117, 94118, 94121, 94122, 94123, 94124, 94127, 94129, 94130, 94131, 94132, 94133, 94134)

# zipcode=str(zipcodes[0])
# zipcode

## Exctraction des données

In [34]:
df2=pd.DataFrame([[]])
for zipcode in zipcodes:
    response = urllib2.urlopen('http://www.city-data.com/zips/'+str(zipcode)+'.html')
    html = response.read()
    
    m = re.search('<b>(Estimated zip code population in 2013):</b>.(.*)<br>', html)
    v1=(zipcode,m.group(1),int(m.group(2).replace(',','')))
    
    m = re.search('<b>(Zip code population in 2010):</b>.(.*)<br>', html)
    v2=(zipcode,m.group(1),int(m.group(2).replace(',','')))
    
    m = re.search('<b>(Zip code population in 2000):</b>.(.*)<br>', html)
    v3=(zipcode,m.group(1),int(m.group(2).replace(',','')))
    
    m = re.search('<b>(Houses and condos):</b>.(.*)<br>', html)
    v4=(zipcode,m.group(1),int(m.group(2).replace(',','')))    
    
    m = re.search('<b>(Renter-occupied apartments):</b>.(.*)<br>', html)
    v5=(zipcode,m.group(1),int(m.group(2).replace(',',''))) 
    
    m = re.search('<b>(Mar. 2016 cost of living index in zip code).*:</b>.(\d+.+?)<', html)
    v6=(zipcode,m.group(1),float(m.group(2).replace(',','')))
    
    m = re.search('<b>(Land area):</b>.(.*)<b>', html)
    v7=(zipcode,m.group(1),float(m.group(2).replace(',','')))   
    
    m = re.search('<b>(Water area):</b>.(.*)<b>', html)
    v8=(zipcode,m.group(1),float(m.group(2).replace(',','')))  
    
    m = re.search('<b>(Population density):</b>.(.*)<b>', html)
    v9=(zipcode,m.group(1)+' (people per square mile)',float(m.group(2).replace(',',''))) 
      
    m = re.search('<b>(Males):</b>.(\d*\,*\d*)', html)
    v12=(zipcode,m.group(1),int(m.group(2).replace(',','')))
    
    m = re.search('<b>(Females):</b>.(\d*\,*\d*)', html)
    v13=(zipcode,m.group(1),int(m.group(2).replace(',','')))
    
    m = re.search('>(\d*\,*\d*)</span>.*(White population)', html)
    v14=(zipcode,m.group(2),float(m.group(1).replace(',','')))
    
    m = re.search('>(\d*\,*\d*)</span>.*(Black population)', html)
    v15=(zipcode,m.group(2),float(m.group(1).replace(',','')))
    
    m = re.search('>(\d*\,*\d*)</span>.*(American Indian population)', html)
    v16=(zipcode,m.group(2),float(m.group(1).replace(',','')))
    
    m = re.search('>(\d*\,*\d*)</span>.*(Asian population)', html)
    v17=(zipcode,m.group(2),float(m.group(1).replace(',','')))
    
    m = re.search('>(\d*\,*\d*)</span>.*(Native Hawaiian and Other Pacific Islander population)', html)
    v18=(zipcode,m.group(2),float(m.group(1).replace(',','')))
    
    m = re.search('>(\d*\,*\d*)</span>.*(Some other race population)', html)
    v19=(zipcode,m.group(2),float(m.group(1).replace(',','')))
    
    m = re.search('>(\d*\,*\d*)</span>.*(Two or more races population)', html)
    v20=(zipcode,m.group(2),float(m.group(1).replace(',','')))
    
    m = re.search('>(\d*\,*\d*)</span>.*(Hispanic or Latino population)', html)
    v21=(zipcode,m.group(2),float(m.group(1).replace(',','')))
    
    m = re.search('<b>(Median resident age):\S*\s\S*\s\S*\s\S*\s\S{28,32}(\d+\.*\d*)', html)
    v22=(zipcode,m.group(1),float(m.group(2).replace(',','')))
    
    m = re.search('<b>(Average household size):\S*\s\S*\s\S*\s\S*\s\S{28,32}(\d+\.*\d*)', html)
    v23=(zipcode,m.group(1),float(m.group(2).replace(',','')))
    
    m = re.search('<b>(Average Adjusted Gross Income \(AGI\) in 2012):</b>.\$(\d*\,*\d*)', html)
    v24=(zipcode,m.group(1),int(m.group(2).replace(',','')))
    
    m = re.search('<b>(Salary/wage):</b>.\$(\d*\,*\d*)', html)   
    #attention : deux champs idéntiques pour 2012 et 2004, algo prend le premier champs, donc 2012
    v25=(zipcode,m.group(1),int(m.group(2).replace(',','')))
    
    m = re.search('<b>(Residents with income below 50% of the poverty level in 2013):\S*\s\S*\s\S*\s\S*\s\S*\s\S*\s\S*\s\S*\s\S{28,32}(\d+\.*\d*)', html)
    v26=(zipcode,m.group(1),float(m.group(2).replace(',','')))
    
    df_row=pd.DataFrame([{'ZipCode':str(int(zipcode)),v1[1]:v1[2],v2[1]:v2[2],v3[1]:v3[2],v4[1]:v4[2],v5[1]:v5[2],v6[1]:v6[2],v7[1]:v7[2],v8[1]:v8[2],v9[1]:v9[2],v12[1]:v12[2],v13[1]:v13[2],v14[1]:v14[2],v15[1]:v15[2],v16[1]:v16[2],v17[1]:v17[2],v18[1]:v18[2],v19[1]:v19[2],v20[1]:v20[2],v21[1]:v21[2],v22[1]:v22[2],v23[1]:v23[2],v24[1]:v24[2],v25[1]:v25[2],v26[1]:v26[2]}])
    df2 = df2.append(df_row)

## Affichage du résultat

In [35]:
df2.dropna().head(10)

,American Indian population,Asian population,Average Adjusted Gross Income (AGI) in 2012,Average household size,Black population,Estimated zip code population in 2013,Females,Hispanic or Latino population,Houses and condos,Land area,...,Renter-occupied apartments,Residents with income below 50% of the poverty level in 2013,Salary/wage,Some other race population,Two or more races population,Water area,White population,Zip code population in 2000,Zip code population in 2010,ZipCode
0,170,7845,62062,1.6,4174,25881,10851,5893,18713,0.7,...,14161,17.2,56042,116,1059,0.0,11806,28991,31176,94102
0,225,6887,113505,1.9,2822,23907,10147,5941,14322,1.4,...,9496,16.0,88432,93,875,0.0,10241,23016,27170,94103
0,1,226,589455,1.4,12,211,124,31,275,0.1,...,103,13.7,181232,0,4,0.0,132,374,406,94104
0,15,2027,325864,1.6,124,5553,2540,347,4651,0.4,...,1630,3.5,200577,16,224,0.1,3074,2058,5846,94105
0,69,6389,167964,2.0,1706,27856,13372,2761,14829,1.8,...,7965,5.2,131602,128,990,0.1,14409,17368,26599,94107
0,21,7933,141881,1.8,239,13709,6816,813,8554,0.3,...,6725,16.8,66404,25,289,0.0,4425,13716,13768,94108
0,182,15150,106762,1.6,2108,55519,27666,6122,36850,1.2,...,28151,7.8,85893,191,1886,0.1,30255,56322,55984,94109
0,190,8615,88157,2.6,2251,72128,34626,26595,29276,2.3,...,17838,7.1,76793,202,2165,0.0,29125,74633,69333,94110
0,3,1350,656958,1.6,82,3496,1708,193,2643,0.3,...,1630,3.8,139675,4,63,0.2,2016,3335,3713,94111
0,111,38982,48392,3.6,3090,82726,41611,23158,23498,3.4,...,7826,6.3,46057,191,1608,0.0,12008,73104,79407,94112

In [36]:
df2.dropna().columns.values

array(['American Indian population', 'Asian population',
       'Average Adjusted Gross Income (AGI) in 2012',
       'Average household size', 'Black population',
       'Estimated zip code population in 2013', 'Females',
       'Hispanic or Latino population', 'Houses and condos', 'Land area',
       'Males', 'Mar. 2016 cost of living index in zip code',
       'Median resident age',
       'Native Hawaiian and Other Pacific Islander population',
       'Population density (people per square mile)',
       'Renter-occupied apartments',
       'Residents with income below 50% of the poverty level in 2013',
       'Salary/wage', 'Some other race population',
       'Two or more races population', 'Water area', 'White population',
       'Zip code population in 2000', 'Zip code population in 2010',
       'ZipCode'], dtype=object)

In [54]:
df2.dropna()[['ZipCode']]

  ZipCode
0   94102
0   94103
0   94104
0   94105
0   94107
0   94108
0   94109
0   94110
0   94111
0   94112
0   94114
0   94115
0   94116
0   94117
0   94118
0   94121
0   94122
0   94123
0   94124
0   94127
0   94129
0   94130
0   94131
0   94132
0   94133
0   94134

## Save as a cvs file:

In [55]:
df2.dropna().to_csv('~/SF_scrap_data.csv', sep=',', encoding='utf-8')